$shadow-color: rgba(0, 0, 0, 0.3);
$shadow-result: 0 7px 15px 0 $shadow-color;
$shadow-card: 0 5px 10px 0 $shadow-color;

.result-image {
  -webkit-box-shadow: $shadow-result;
  box-shadow: $shadow-result;
}

.title-is-vertical ul {
  padding-left: 20px;
}

.card-image {
  float: left;
  display: flexbox;
  width: 20%;
  padding: 3.25% 3% 0 3%;
}

.card {
  -webkit-box-shadow: $shadow-card;
  box-shadow: $shadow-card;
  max-width: 100%;
  margin-top: 20px;
}

.is-4 {
  color: #00aa91;
}

.is-2 {
  color: rgb(136, 136, 136);
}
.subtitle {
  color: rgb(116, 116, 116);
}
